/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body { background-color: #000; margin: 0; padding: 0; min-height: 100%; }

#splash {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #ff0000;
  background-color: #000000;
  z-index: 999999;
}
#splash:hover { cursor: pointer; }
#splash h1 {
  color: #ff0000;
  font-size: 10vw;
  margin: 0px;
}

#splash ul { margin: 0; }
#splash ul li {
  color: #ffffff;
  display: inline-block;
  padding: 10px;
}

#container {
  width: 800px;
  height: 480px;
  min-width: 800px;
  min-height: 480px;
  max-width: 480px;
  max-height: 480px;
  border: 1px solid #000;
  overflow: hidden;
  margin: 150px auto;
  background-color: #fff;
}

#menu {
  max-width: 24%;
  width: 100%;
  height: 100%;
  min-height: 100%;
  background-color: #1e73be;
  color: #fff;
  border-right: 2px solid #0b579a;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}
#menu h1 { text-align: center; font-size: 17px; padding: 10px 5px; font-weight: bold;}
#menu ul { padding: 0; margin: 0; }
#menu ul li {
  list-style: none;
  padding: 16px 0px;
  border-bottom: 1px solid #e4e4e4;
}
#menu ul li ul li { display: none; }
#menu ul li.active ul { display: block; background-color: #56acf9; color: #1e73be; width: 100%; margin: 10px 0 0; }
#menu ul li.active ul li { display: block; padding-left: 10px; }
#menu a:link, #menu a:visited { color: #ffffff; text-decoration: none; padding: 20px 30px 20px 5px; }
#menu ul li.active ul li a:hover { color: #1e73be; }
#menu ul li.dropdown > a:after {
  content: '\27A4';
  padding-left: 10px;
  font-size: 10px;
  display: inline-block;
  transition: transform 100ms;
  transform-origin: 15px 6px;
}

#menu ul li.dropdown.active > a:after {
  transform: rotate(90deg);
}

#container .page { display: none; }
#overview.page { display: block;}
.page {  max-width: 73%; width: 100%; max-height: 480px; overflow: scroll; background-color: #ffffff; padding: 10px; }
.row .icon { display: inline-block; width: 100px; height: 100px; border: 1px solid #000000; margin: 3px; padding: 3px; }
.row.col3 .icon { width: 30%; }
#menu,#overview {
  float: left;
  min-height: 300px;
  padding: 0px;
}


#grow_menu, #data_menu, #settings_menu { display: inline-block; float: left; width: 100%; }
#data_menu, #settings_menu { display: none; }

.pager {
  display: block;
  position: absolute;
  bottom: 3px;
  text-align: center;
  width: 100%;
}


.pager span { cursor: pointer; padding: 6px; }
.pager .active {
  color: #56ACD0;
}

.open_menu { display: none; padding: 10px 5px 3px 10px; position: absolute; bottom: 0px; right: 0px; }
.close_menu { padding-left: 5px; position: absolute; bottom: 0; left: 0px; padding: 10px 10px 3px 10px; }
.open_menu:hover, .close_menu:hover { cursor: pointer; }

/* body ui */
.block { width: 48%; height: 100%; margin: 10px 0 10px 1.5%; display: inline-block; }
