<!DOCTYPE html>
<html>
    <head>
        <title>Rexus</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/gui.css') }}" />
    </head>
    <body>
        <section id="splash">
            <h1>Rexus</h1>
            <ul>
                <li>21:04</li>
                <li>2017 - 12 - 9</li>
                <li>72F</li>
                <li>50%RH</li>
                <li>70%WV</li>
            </ul>
        </section>
        <div id="container">
            <div id="menu">
                <div id="grow_menu">
                    <h1>Rexus - Grow Menu</h1>
                    <ul class="page1">
                        <li class="active dropdown"><a href="">Current Crop</a>
                          <ul>
                              <li><a href="" name="feeding_schedule">Feeding Schedule</a></li>
                              <li><a href="" name="data_charts">Data Charts</a></li>
                              <li><a href="" name="grow_log">Grow Log</a></li>
                          </ul>
                        </li>
                        <li class="dropdown"><a href="">Previous Crops</a>
                            <ul>
                                <li><a href="" name="harvest_3">Jan 5th Harvest</a></li>
                                <li><a href="" name="harvest_2">Dec 1st Harvest</a></li>
                                <li><a href="" name="harvest_1">Nov 3rd Harvest</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div id="data_menu">
                    <h1>Rexus - Data Menu</h1>
                    <ul class="page1">
                        <li class="active dropdown"><a href="">Gear</a>
                          <ul>
                              <li><a href="" name="sun">Sun</a></li>
                              <li><a href="" name="air">Air</a></li>
                              <li><a href="" name="water">Water</a></li>
                              <li><a href="" name="earth">Earth</a></li>
                          </ul>
                        </li>
                        <li class="dropdown"><a href="">Schedule</a>
                            <ul>
                                <li><a href="" name="cycle_1">Cycle 1</a></li>
                                <li><a href="" name="cycle_2">Cycle 2</a></li>
                                <li><a href="" name="cycle_3">Cycle 3</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div id="settings_menu">
                    <h1>Rexus - Settings Menu</h1>
                    <ul class="page1">
                        <li class="active dropdown"><a href="">Modules</a>
                          <ul>
                              <li><a href="" name="mod_1">mod1</a></li>
                              <li><a href="" name="mod_2">mod2</a></li>
                              <li><a href="" name="mod_3">mod3</a></li>
                          </ul>
                        </li>
                        <li class="dropdown"><a href="">Network Config</a>
                            <ul>
                                <li><a href="" name="network_id">Network ID</a></li>
                                <li><a href="" name="security">Security</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <span class="pager">
                    <span id="grow_menu_page" class="pager1 active">&#9679;</span>
                    <span id="data_menu_page"  class="pager2">&#9679;</span>
                    <span id="settings_menu_page"  class="pager3">&#9679;</span>
                </span>
                <span class="close_menu"><-</span>
                <span class="open_menu">-></span>
            </div>





            <div id="feeding_schedule" class="page">
                <h1>FEEEEEEEDING SCHEDULE</h1>
            </div>

            <div id="data_charts" class="page">
                <h1>Data Charts</h1>
            </div>

            <div id="grow_log" class="page">
                <h1>Grow Log</h1>
            </div>

            <div id="harvest_3" class="page">
                <h1>Harvest 3</h1>
            </div>

            <div id="harvest_2" class="page">
                <h1>Harvest 2</h1>
            </div>

            <div id="harvest_1" class="page">
                <h1>Harvest 1</h1>
            </div>

            <div id="sun" class="page">
                <h1>Sun</h1>
            </div>

            <div id="air" class="page">
                <h1>Air</h1>
            </div>

            <div id="water" class="page">
                <h1>Water</h1>
            </div>

            <div id="earth" class="page">
                <h1>Earth</h1>
            </div>

            <div id="cycle_1" class="page">
                <h1>Cycle 1</h1>
            </div>

            <div id="cycle_2" class="page">
                <h1>Cycle 2</h1>
            </div>

            <div id="cycle_3" class="page">
                <h1>Cycle 3</h1>
            </div>

            <div id="mod_1" class="page">
                <h1>Mod 1</h1>
            </div>

            <div id="mod_2" class="page">
                <h1>Mod 2</h1>
            </div>

            <div id="mod_3" class="page">
                <h1>Mod 3</h1>
            </div>

            <div id="network_id" class="page">
                <h1>Network ID</h1>
            </div>

            <div id="security" class="page">
                <h1>Security</h1>
            </div>


            <div id="overview" class="page">
                <div class="row col3">
                    <a href="" class="icon" >Data</a>
                    <a href="" class="icon">Grow</a>
                    <a href="" class="icon">Settings</a>
                </div>
                <div class="row">
                    <a href="" class="icon"><img src="" ></a>
                    <a href="" class="icon"><img src="" ></a>
                    <a href="" class="icon"><img src="" ></a>
                    <a href="" class="icon"><img src="" ></a>
                    <a href="" class="icon"><img src="" ></a>
                </div>

                <div class="block">
                    <h2>Overview</h2>
                    <p>Random stuff all collected and put together in one spot.</p>
                    <ul>
                        <li>Current Plant Count: 5</li>
                        <li>Time Til Next Harvest: 2 Weeks</li>
                        <li>When to start next crop: 8 Days</li>
                    </ul>
                </div>
                <div class="block">
                    <h2>Overview</h2>
                    <p>Random stuff all collected and put together in one spot.</p>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    </div>
                <div class="block">
                    <h2>Overview</h2>
                    <p>Random stuff all collected and put together in one spot.</p>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="block">
                    <h2>Overview</h2>
                    <p>Random stuff all collected and put together in one spot.</p>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>

            <div id="livebar">
                <a href="" id="splash_popup">H</a>
                <ul>
                    <li>21:04</li>
                    <li>2017 - 12 - 9</li>
                    <li>72F</li>
                    <li>50%RH</li>
                    <li>70%WV</li>
                </ul>
            </div>
        </div>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='js/gui.js') }}"></script>
    </body>
</html>
