<!DOCTYPE html>
<html>
    <head>
        <title>Rexus</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/gui.css') }}" />
    </head>
    <body>
        <section id="splash">
            <h1>Rexus</h1>
            <ul>
                <li>21:04</li>
                <li>2017 - 12 - 9</li>
                <li>72F</li>
                <li>50%RH</li>
                <li>70%WV</li>
            </ul>
        </section>
        <div id="container">
            <div id="menu">
                <div id="grow_menu">
                    <h1>Rexus - Grow Menu</h1>
                    <ul class="page1">
                        <li class="active dropdown"><a href="">Current Crop</a>
                          <ul>
                              <li><a href="">Feeding Schedule</a></li>
                              <li><a href="">Data Charts</a></li>
                              <li><a href="">Grow Log</a></li>
                          </ul>
                        </li>
                        <li class="dropdown"><a href="">Section 2</a>
                            <ul>
                                <li><a href="">Subsection 1</a></li>
                                <li><a href="">Subsection 2</a></li>
                                <li><a href="">Subsection 3</a></li>
                            </ul>
                        </li>
                        <li><a href="">Section 3</a></li>
                    </ul>
                </div>
                <div id="data_menu">
                    <h1>Rexus - Data Menu</h1>
                    <ul class="page1">
                        <li class="active dropdown"><a href="">Current Crop</a>
                          <ul>
                              <li><a href="">Feeding Schedule</a></li>
                              <li><a href="">Data Charts</a></li>
                              <li><a href="">Grow Log</a></li>
                          </ul>
                        </li>
                        <li class="dropdown"><a href="">Section 2</a>
                            <ul>
                                <li><a href="">Subsection 1</a></li>
                                <li><a href="">Subsection 2</a></li>
                                <li><a href="">Subsection 3</a></li>
                            </ul>
                        </li>
                        <li><a href="">Section 3</a></li>
                    </ul>
                </div>
                <div id="settings_menu">
                    <h1>Rexus - Settings Menu</h1>
                    <ul class="page1">
                        <li class="active dropdown"><a href="">Current Crop</a>
                          <ul>
                              <li><a href="">Feeding Schedule</a></li>
                              <li><a href="">Data Charts</a></li>
                              <li><a href="">Grow Log</a></li>
                          </ul>
                        </li>
                        <li class="dropdown"><a href="">Section 2</a>
                            <ul>
                                <li><a href="">Subsection 1</a></li>
                                <li><a href="">Subsection 2</a></li>
                                <li><a href="">Subsection 3</a></li>
                            </ul>
                        </li>
                        <li><a href="">Section 3</a></li>
                    </ul>
                </div>
                <span class="pager">
                    <span id="grow_menu_page" class="pager1 active">&#9679;</span>
                    <span id="data_menu_page"  class="pager2">&#9679;</span>
                    <span id="settings_menu_page"  class="pager3">&#9679;</span>
                </span>
                <span class="close_menu"><-</span>
                <span class="open_menu">-></span>
            </div>
            <div id="overview">
                <div class="row col3">
                    <a href="" class="icon" >Data</a>
                    <a href="" class="icon">Grow</a>
                    <a href="" class="icon">Settings</a>
                </div>
                <div class="row">
                    <a href="" class="icon"><img src="" ></a>
                    <a href="" class="icon"><img src="" ></a>
                    <a href="" class="icon"><img src="" ></a>
                    <a href="" class="icon"><img src="" ></a>
                    <a href="" class="icon"><img src="" ></a>
                </div>

                <div class="block">
                    <h2>Overview</h2>
                    <p>Random stuff all collected and put together in one spot.</p>
                    <ul>
                        <li>Current Plant Count: 5</li>
                        <li>Time Til Next Harvest: 2 Weeks</li>
                        <li>When to start next crop: 8 Days</li>
                    </ul>
                </div>
                <div class="block">
                    <h2>Overview</h2>
                    <p>Random stuff all collected and put together in one spot.</p>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    </div>
                <div class="block">
                    <h2>Overview</h2>
                    <p>Random stuff all collected and put together in one spot.</p>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="block">
                    <h2>Overview</h2>
                    <p>Random stuff all collected and put together in one spot.</p>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='js/gui.js') }}"></script>
    </body>
</html>
