<!DOCTYPE html>
<html>
    <head>
        <title>Rexus</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/gui.css') }}" />
    </head>
    <body>
        <div id="container">
            <div id="menu">
                <div id="page1">
                    <h1>Rexus</h1>
                    <ul class="page1">
                        <li class="active dropdown"><a href="">Current Crop</a>
                          <ul>
                              <li><a href="">Feeding Schedule</a></li>
                              <li><a href="">Data Charts</a></li>
                              <li><a href="">Grow Log</a></li>
                          </ul>
                        </li>
                        <li class="dropdown"><a href="">Section 2</a>
                            <ul>
                                <li><a href="">Subsection 1</a></li>
                                <li><a href="">Subsection 2</a></li>
                                <li><a href="">Subsection 3</a></li>
                            </ul>
                        </li>
                        <li><a href="">Section 3</a></li>
                    </ul>
                </div>
                <span class="pager">
                    <span class="pager1 active">&#9679;</span>
                    <span class="pager2">&#9679;</span>
                    <span class="pager3">&#9679;</span>
                </span>
                <span class="close_menu"><-</span>
                <span class="open_menu">-></span>
            </div>
            <div id="overview">
                <div class="row">
                    <a href="" class="icon"><img src="" ></a>
                    <a href="" class="icon"><img src="" ></a>
                    <a href="" class="icon"><img src="" ></a>
                    <a href="" class="icon"><img src="" ></a>
                    <a href="" class="icon"><img src="" ></a>
                </div>

                <div class="block">
                    <h2>Overview</h2>
                    <p>Random stuff all collected and put together in one spot.</p>
                    <ul>
                        <li>Current Plant Count: 5</li>
                        <li>Time Til Next Harvest: 2 Weeks</li>
                        <li>When to start next crop: 8 Days</li>
                    </ul>
                </div>
                <div class="block">
                    <h2>Overview</h2>
                    <p>Random stuff all collected and put together in one spot.</p>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    </div>
                <div class="block">
                    <h2>Overview</h2>
                    <p>Random stuff all collected and put together in one spot.</p>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="block">
                    <h2>Overview</h2>
                    <p>Random stuff all collected and put together in one spot.</p>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='js/gui.js') }}"></script>
    </body>
</html>
